
*{
    box-sizing: border-box;
}
.container{
    height: 110vh;
    width: 100%;
    background-color: rgb(255, 249, 249);
}
.card{
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 30px;
    background-color: white;
}
h3{
    font-size: 30px;
}
h3 span{
    color: #f9004d;
}
.logo{
    border-bottom: 2px solid #172335;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;

}
.form{
    width: 70%;
    margin: 10px auto;
}
label{
    width: 30%;
    padding-top: 20px;
    font-size: 16px;
}
.inputTab{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}
input[type=text] {
    width: 67%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  button {
    background-color: #172335;
    color: white;
    padding: 20px 20px;
    margin-left: 60%;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .output{
      margin-top: 20px;
      width: 80%;
      margin: auto;
  }
.result{
    padding: 0;
}